# binaries
helpers/echo-exit
helpers/echo-rot13
helpers/echo-signal
helpers/exit-status-0
helpers/fd-perms
helpers/list-fds
helpers/timeout

# Ignore built binary and debug symbol folders
build/shell
*.dSYM/
